@if $colors
{
    @each $color, $hex in $colors
    {
        .text-#{$color},
        .text-#{$color} p
        {
            color: $hex!important;
        }
    }
}

h1
{
    font-size: convertREM(70);
}

h2
{
    font-size: convertREM(55);
    line-height: 1.2;
}

h3
{
    font-size: convertREM(48);
    line-height: 1.2;
}

h4
{
    font-size: convertREM(40);
    line-height: 1.2;
}

h5
{
    font-size: convertREM(32);
    line-height: 1.4;
}

h6
{
    font-size: convertREM(25);
    line-height: 1.4;
}

.text-decoration--underline
{
    text-decoration: underline;
}

.text-size--small
{
    font-size: convertREM(12);
    line-height: 1.2;
}

.text-size--large
{
    font-size: convertREM(18);
    line-height: 1.2;
}

.text-size--extra-large
{
    font-size: convertREM(20);
    line-height: 1.2;
}
